<div class="form-group col-lg-12 shiprow" data-ship-index="<%= index -%>">
  <div class="input-group">
    <span class="input-group-addon">
      <%= check_box_tag "search[relationships][#{index}][partial]", true, ship.key?('partial'), class: 'ship_partial' %>
      Partial
    </span>
    <span class="input-group-addon">
      <%= check_box_tag "search[relationships][#{index}][exclude]", true, ship.key?('exclude'), class: 'ship_exclude' %>
      Exclude
    </span>
    <select multiple
            class="form-control character_list"
            data-placeholder="Choose up to 4 characters"
            name="search[relationships][<%= index -%>][characters][]"
            id="search[relationships][<%= index -%>][characters][]">
      <option disabled></option>
      <%= options_from_collection_for_select(@characters, :id, :name, ship['characters'] || []) %>
    </select>
    <span class="input-group-btn">
      <button id="remove_relationships[<%= index -%>]" class="btn btn-default btn-sm" type="button" <% if index == 0 %>disabled="disabled"<% end %>>Remove</button>
    </span>
  </div>
</div>