%h1 Story Queue

%p.lead Stories you've saved to read later.

- @queue_entries.each do |queue_entry|
  .story
    %div.pull-right.label.small.label-default{'am-time-ago': queue_entry.updated_at}
      Added to queue
      = timeago_tag queue_entry.updated_at, :limit => 2.years.ago
    .clearfix
    = render :partial => 'search/story_result', locals: { context: @story_context, queue_entry: queue_entry, story_result: queue_entry.story }
