= form_for @saved_search do |f|
  - if @saved_search.errors.any?
    #error_explanation
      %h2= "#{pluralize(@saved_search.errors.count, "error")} prohibited this saved_search from being saved:"
      %ul
        - @saved_search.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
