.page-header
  %h1
    Sign in
  Have a DLP account? Sign in or create an account with DLP.

= form_tag('https://forums.darklordpotter.net/sso', authenticity_token: false, method: :get) do |f|
  %button.btn.btn-default{:type => 'submit'}
    Sign in with DLP

%hr
  Otherwise login with your Scryer email address and password.

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-group
    = f.label :email, 'Email'
    = f.email_field :email, :autofocus => true, placeholder: 'Enter email', class: 'form-control'
  .form-group
    = f.label :password
    = f.password_field :password, placeholder: 'Enter password', class: 'form-control'
  - if devise_mapping.rememberable?
    .form-group
      = f.check_box :remember_me, checked: true
      = f.label :remember_me
  %button.btn.btn-default{:type => 'submit'}
    Sign in

%hr

= render 'devise/shared/links'
