[URL="https://www.fanfiction.net<%= @update.update_contents['url_latest'] %>"]<%= @story.title %>[/URL] has been updated with a new chapter.

[b]Story Stats[/b]
Chapters: <%= @story.chapters %>
Words: <%= number_with_delimiter(@story.words) %>
Updated: <%= @story.updated %>
Published: <%= @story.published %>
Previously updated: <%= distance_of_time_in_words(@update.previous_updates.first.updated, @update.updated) %> ago
<% if @update.previous_updates.first.summary != @story.summary -%>
New Summary:
<%= @update.previous_updates.first.summary %>
<% end %>

[SIZE=2]Brought to you by [URL="https://scryer.darklordpotter.net"]Scryer[/URL] story thread updates.[/SIZE]