@import "bootstrap-sprockets";
@import "bootstrap";
@import "chosen";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";

// Angular-bootstrap, to prevent route changes
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    //padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
  min-height: 30px;
  background-color: #324e2f;
}

// Only added in development mode
.navbar-development {
  background-color: darkred;
}

.fa-margin {
  margin: 0 1px 0 1px;
}

.navbar-brand, .navbar-text, .nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;
}

.navbar-brand {
  height: 30px;
}

.nav > li > a, a.navbar-brand {
  color: #eee !important;
}

.nav > li > a:hover, .navbar-brand:hover {
  color: #888 !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

a, .pagination>li>a {
  color: #5dba5d;
}

a:hover, .pagination>li>a:hover {
  color: #476743;
}

.pagination>.active>a {
   color: #eee;
  background-color: #5dba5d;
  border-color: #66cc66;
}

.pagination>.active>a:hover {
   color: #eee;
  background-color: #5dba5d;
  border-color: #66cc66;
}

.borderless {
  border: 0;
}

.lightning-icon {
  margin-right: 10px;
  color: yellow;
}

.overload_bg {
    background: url('<%= asset_path('harry_overload_whitebg.png') %>');
    background-repeat: no-repeat;
    background-position: right;
    min-height: 433px;
}

.xsmall {
  font-size: 80%
}

.story-summary {
  padding-bottom: 5px;

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
