%h1 Recommended Stories

%p.lead Stories you might like based on your previous activity.

- @stories.each do |story|
  .story
    = render :partial => 'search/story_result', locals: { context: @story_context, story_result: story }
