<footer class="footer">
    <img src="/dm/" width="0" height="0" />
    <div class="container">
    <% if user_signed_in? && current_user %>
        <p class="pull-right small">Logged in as <%= current_user.try(:username) %></p>
    <% end %>
    <div>
      © <%= Date.today.year %> DLP Group
    </div>
    <div>
      <span class="small">
        <a href="https://gitlab.com/projectdlp/scryer">Scryer</a> 2.0-<%= "#{GIT_COMMIT}@#{GIT_BRANCH}" %>
        <%= Rails.env %>
      </span>
    </div>
  </div>
</footer>
