<!DOCTYPE html>
<html>
<head>
  <title>Scryer<%= content_for?(:title) ? " :: #{content_for(:title)}" : '' %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag favicon_name %>
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#324e2f"/>
</head>
<body class="<%= controller_name %>_controller" data-controller="<%= controller_name %>" data-action="<%= action_name %>">

<%= render 'layouts/header' %>
<%= render 'feedback/modal' %>
<div class="container <%= controller_name %>_controller">
  <% Announcement.current(cookies.signed[:hidden_announcement_ids]).each do |announcement| %>
      <%= div_for announcement, class: 'alert alert-info' do %>
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
          <%= sanitize announcement.message %>
          <%= link_to '&times;'.html_safe, hide_announcement_path(announcement), remote: true, class: 'close', rel: 'nofollow' %>
      <% end %>
  <% end %>
  <% if current_user && !current_user.confirmed? %>
      <div class="alert alert-warning">
        <i class="fa fa-exclamation-triangle"></i>

        Your account's is currently email address unconfirmed. Your account will become inaccessible if not confirmed
        within 24 hours.
        <p>
          <%= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %>
        </p>
      </div>
  <% end %>

  <div id="flash">
  </div>
  <% [:notice, :error, :alert].each do |level| %>
      <% unless flash[level].blank? %>
          <%= render :partial => 'layouts/flash', :locals => {:level => level} %>
      <% end %>
  <% end %>
  <%= yield %>
</div>

<%= render :partial => 'layouts/footer' %>

<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-442860-6');
   ga('send', 'pageview');
   <% if user_signed_in? && current_user %>
    ga('set', '&uid', '<%= current_user.try(:id) %>');
   <% end %>
</script>
</body>
</html>
